3gSolucoesAutomacao.Entidade/obj
3gSolucoesAutomacao.Dados/bin
3gSolucoesAutomacao/bin
3gSolucoesAutomacao.Entidade/bin
3gSolucoesAutomacao.Servico/bin
3gSolucoesAutomacao.Utilitarios/bin
3gSolucoesAutomacao/obj
.vs/3gSolucoesAutomacao/v14/.suo
packages
3gSolucoesAutomacao.Dados/obj
3gSolucoesAutomacao/3gSolucoesAutomacao.WindowsForms.csproj.user
3gSolucoesAutomacao.Negocio/obj
3gSolucoesAutomacao.Utilitarios/obj
3gSolucoesAutomacao.Servico/obj
3gSolucoesAutomacao.Dados/FakesAssemblies/Microsoft.Practices.EnterpriseLibrary.Data.4.1.0.0.Fakes.messages
