<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="BD" providerName="System.Data.SqlClient" connectionString="Data Source=dbsq0007.whservidor.com;Initial Catalog=3gsolucoes;user=3gsolucoes;password=PN22jng3"/>
    </connectionStrings>
</configuration>